// Colors
$color-primary: #0d5c63;
$color-primary-light: #206c73;
$color-primary-dark: #0c545b;
$color-secondary: #baa898;
$color-secondary-light: #c1b0a0;
$color-secondary-dark: #a99789;
$color-tertiary: #424b54;
$color-tertiary-light: #545d65;
$color-tertiary-dark: #3b444d;
$color-grey: rgb(187, 189, 185);
$color-grey-dark: #323031;
$color-grey-light: #d9dcd6;
$color-off-white: #eff0eb;

// Media Query Mixin
@mixin respond($breakpoint) {
  @if $breakpoint == xxlarge {
    @media only screen and (max-width: 106.25em) {
      @content;
    } // 1700px
  }
  @if $breakpoint == xlarge {
    @media only screen and (max-width: 87.5em) {
      @content;
    } // 1400px
  }
  @if $breakpoint == large {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px
  }
  @if $breakpoint == medium {
    @media only screen and (max-width: 43.75em) {
      @content;
    } // 700px
  }
  @if $breakpoint == small {
    @media only screen and (max-width: 31.25em) {
      @content;
    } // 500px
  }
  @if $breakpoint == xsmall {
    @media only screen and (max-width: 25em) {
      @content;
    } // 400px
  }
}

// Base
html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(medium) {
    font-size: 50%;
  }

  @include respond(small) {
    font-size: 42.5%;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  padding: 7rem 3rem 3rem 3rem;
  background-color: $color-off-white;
  overflow-y: scroll; // prevent filter box from shifting

  @include respond(xxlarge) {
    padding-top: 0;
  }
}

// Triggers
.trigger {
  width: 6.5rem;
  height: 6.5rem;
  background-color: $color-primary-light;
  color: $color-off-white;
  font-weight: 300;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  position: absolute;
  border: 2px solid $color-off-white;
  box-shadow: 0 0 0 2px $color-primary-light;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-out;

  &:hover,
  &:focus {
    outline: none;
    border: 4px solid $color-primary-light;
    box-shadow: none;
    font-size: 3.2rem;

    @include respond(large) {
      font-size: 2rem;
    }

    &::after {
      // Hover spread effect
      transform: scale(1.4);
      opacity: 0;
    }
  }

  &::after {
    // Hover spread effect
    content: "";
    display: inline-block;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 10rem;
    position: absolute;
    top: -0.275rem;
    left: -0.25rem;
    z-index: -10;
    transition: all 0.5s;
    transform: scale(0.85);
    background-color: $color-primary-light;
  }
}

// Asides
.intro,
.filter {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

.intro {
  left: 6rem;

  @include respond(xxlarge) {
    //  Moving intro to top and put back into doc flow
    position: relative;
    align-self: center;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 3rem auto 2rem auto; // More margin on top due to "My" being pulled up
  }

  &__name {
    font-family: "Dawning of a New Day", cursive;
    font-size: 4.5rem;
  }

  &__heading {
    font-size: 12rem;
    font-weight: 200;
    color: $color-primary-light;
    line-height: 1;
    position: relative;

    &::before,
    &::after {
      font-family: "Dawning of a New Day", cursive;
      font-size: 4.5rem;
      color: $color-grey-dark;
      position: absolute;
    }

    &::before {
      // "My"
      content: "My";
      left: -4rem;
      top: -1.5rem;

      @include respond(small) {
        left: -2.5rem;
      }
    }

    &::after {
      // "to"
      content: "to";
      right: 4.5rem;
      bottom: -1rem;

      @include respond(small) {
        bottom: 0;
      }
    }
  }

  &__subheading {
    font-size: 5rem;
    font-weight: 600;
    color: $color-primary-light;
    line-height: 1;
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.headshot {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid $color-primary-light;
  margin-right: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.filter {
  right: 6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 20rem;
  transition: all 0.3s;

  &.active {
    background-color: $color-grey-light;
    top: 5rem;
  }

  @include respond(xlarge) {
    right: 1rem;
    top: 1rem;
    transform: translateY(0);
  }

  @include respond(large) {
    align-items: flex-start;
    position: absolute;
    right: -1rem;
  }

  &__trigger {
    display: none;

    @include respond(large) {
      position: absolute;
      display: flex;
      right: 5rem;
      top: 1rem;
      z-index: 40;
    }
  }

  &__btn {
    flex: 0 0 100%;
    appearance: none;
    border: 1.75px solid $color-primary-light;
    background: none;
    cursor: pointer;
    color: $color-primary-light;
    padding: 0.5rem 1.5rem;
    margin: 1rem auto;
    font-size: 1.7rem;
    border-radius: 100px;
    transition: all 0.3s;
  }

  &__heading,
  &__btn {
    @include respond(large) {
      // will be toggled by js
      opacity: 0;
      visibility: hidden;
    }
  }
}

// Middle section
.roadmap {
  font-size: 1.8rem;
  color: $color-grey-dark;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    // Vertical line before first milestone
    content: "";
    height: 8.5rem;
    position: absolute;
    border-left: 3px solid $color-primary-light;
    top: -8.5rem;
    right: 30%;

    @include respond(xxlarge) {
      height: 31rem;
      top: -31rem;
    }
  }

  &::after {
    content: "To be continued ... the learning never stops!";
    font-size: 2.2rem;
    text-align: center;
    line-height: 1;
    font-weight: 200;
    color: $color-grey-dark;
    height: 8.5rem;
    padding: 3.5rem 1rem;
    position: absolute;
    bottom: -8.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

// Milestones
.milestone {
  margin: auto;
  padding: 4rem 4.5rem 4.5rem; // account for icon line height on top
  width: 40%;
  min-height: 18vw;
  border: 3px solid $color-primary-light;
  border-bottom: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(xxlarge) {
    width: 60%;
  }

  @include respond(large) {
    width: 85%;
    padding: 3rem;
    min-height: 50vw;
  }

  @include respond(medium) {
    padding: 2.5rem;
    min-height: 100vw;
  }

  & div.milestone__details.details--active {
    // used for js to display details on trigger click
    opacity: 1;
    visibility: visible;
    transform: translateX(0) scale(1);
  }

  &:nth-of-type(even) > .milestone__details,
  &:nth-of-type(odd) > .milestone__details {
    &::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    @include respond(large) {
      // will be toggled by js
      opacity: 0;
      visibility: hidden;
    }
  }

  &.right {
    border-left: none;

    & > .milestone__trigger {
      right: -3.5rem;
    }

    & > .milestone__details {
      transform: translateX(30rem) scale(0.01);

      &::after {
        right: -1rem;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #fff;
      }
    }
  }

  &.left {
    border-right: none;

    & > .milestone__trigger {
      left: -3.5rem;
    }

    & > .milestone__details {
      transform: translateX(-30rem) scale(0.01);

      &::after {
        left: -1rem;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #fff;
      }
    }
  }

  &__type {
    fill: $color-grey;
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1.5rem;
    transition: all 0.4s;

    &--large {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__subtitle {
    color: $color-primary-light;
  }

  &__title {
    font-weight: 300;
    line-height: 1.35;
    width: 80%;
    margin: 2rem auto 1rem auto;
    text-align: center;
    transition: all 0.5s;
  }

  &__subtitle {
    align-self: center;
    line-height: 1;
    transition: all 0.4s;
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    & > svg {
      width: 4rem;
      height: 4rem;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &__details {
    background-color: #fff;
    position: absolute;
    padding: 2rem;
    width: 85%;
    height: 80%;
    border-top: 4px solid $color-primary-light;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 30;
  }

  &__trigger {
    top: 50%;
    transform: translateY(-50%);
    font-size: 3.5rem;

    @include respond(medium) {
      font-size: 2rem;
    }
  }

  // Button Group Styling
  &__buttons {
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    & > .btn:not(:last-child) {
      margin-right: 1rem;

      @include respond(xxlarge) {
        margin-right: 0.5rem;
      }
    }
  }
}

.details {
  &__close {
    display: none;
  }
  &--active .details__close {
    display: block;
    position: absolute;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2.75rem;
    top: 1rem;
    right: 1.5rem;
    color: rgba($color-grey-dark, 0.5);
    transition: color 0.3s;

    &:hover,
    &:focus {
      outline: none;
      color: $color-grey-dark;
    }
  }

  &__heading,
  &__text {
    margin: 1rem auto;
  }

  &__heading {
    text-align: center;
    font-weight: 300;
    font-size: 3.5rem;
    line-height: 1;
  }

  &__text {
    font-size: 1.8rem;
  }
}

// Button Styling
.btn {
  &:link,
  &:visited {
    border: 1.75px solid $color-primary-light;
    color: $color-primary-light;
    padding: 0.5rem 1.5rem;
    font-size: 1.7rem;
    border-radius: 100px;
    margin-top: 0.75rem;
    text-decoration: none;
    transition: all 0.3s;

    @include respond(medium) {
      font-size: 1.8rem;
    }
  }

  &:hover,
  &:active {
    background-color: $color-primary-light;
    color: $color-off-white;

    @include respond(nohover) {
      background-color: transparent;
      color: $color-primary-light;
    }
  }

  & > svg {
    width: 1.2rem;
    height: 1.2rem;
    fill: $color-primary-light;
    transition: all 0.3s;
    margin-right: 0.15rem;
  }

  &:hover > svg {
    color: $color-off-white;
    fill: $color-off-white;
  }
}

// utility classes
.hide {
  display: none;
}
.visible {
  visibility: visible;
  opacity: 1;
}
